/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}



.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 .header{
  background-image: url('../images/developer.png') ,url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left,bottom right;
 }
  
  .text-primary{
    color: #FD6E0A;
  }
  nav{
    display: flex;
    
  }
  .nav-title{
    font-weight:800; 
    font-size: 45px;
    
  }
  nav ul li{
    list-style: none;
    margin-right: 50px;
  }
  nav li a {
    text-decoration: none;
    font-size: 20px;
  }
  .dark-2{
    color:rgb(14, 13, 13)
  }
  nav ul{
    display: flex;
    align-items: center;
    
  }
  .btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  color:antiquewhite;
  padding: 18px 35px;
  border: 5px;
  border:none;
  }
  .banner-greeting {
    font-size: 45px;
    font-size: 600;
  }
  .banner-title {
    font-weight: bold;
    font-size: 85px;
  }
  .banner-profile-pic{
    width: 500px;

  }
  .banner{
     display: flex;
     justify-content: space-between;
     margin: 0 35px 0 200px;
  }
  .banner-content{
    max-width: 580px;
  }