/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}



.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 .header{
  background-image: url('../images/developer.png') ,url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left,bottom right;
 }
  
  .text-primary{
    color: #FD6E0A;
  }
  nav{
    display: flex;
    
  }
  .nav-title{
    font-weight:800; 
    font-size: 45px;
    color: #181818;
    
  }
  nav ul li{
    list-style: none;
    margin-right: 50px;
  }
  nav li a {
    text-decoration: none;
    font-size: 20px;
  }
  .dark-2{
    color:rgb(14, 13, 13)
  }
  nav ul{
    display: flex;
    align-items: center;
    
  }
  .btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  color:antiquewhite;
  padding: 18px 35px;
  border: 5px;
  border:none;
  }
  .banner-greeting {
    font-size: 45px;
    font-size: 600;
  }
  .banner-title {
    font-weight: bold;
    font-size: 85px;
  }
  .banner-profile-pic{
    width: 500px;

  }
  .banner{
     display: flex;
     justify-content: space-between;
     margin: 0 35px 0 200px;
  }
  .banner-content{
    max-width: 580px;
  }
  .section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
  }
  .section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
  }
  .second-bg{
     color: #FFF8F3; /*problem holo background-color: add hoi na ; */
  } 
  main{
    max-width: 1140px;
    margin: 0 auto ;
  }
  main section{
    margin-top: 130px; 
    /* margin-bottom: 130px; */
  }
  .about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    /* margin-top: 130px; */


  }
  .item-description{
    font-weight: bold;
    display: flex;
  }
  .about-item{
   
     display: flex;
    justify-content: space-around;
    text-align: center;
    /* border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;   */
  } 
  /* .item-title{
    font-weight: bold;
    display: inline;
  } */
   .skill-container{
    display:flex;
    gap: 24px;
    /* padding: 33px; */
    /* margin-top: 104px;
    margin-bottom: 30px; */
   }
   .skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px #D1D1D1;
   }